title = "LLM Tools"

[deepseek]
model = ["deepseek-chat", "deepseek-reasoner"]
base_url = "https://api.deepseek.com"
api_key = "sk-"

[gitee]
model = ["kimi-k2-instruct", "qwen3-coder-480b-a35b-instruct"]
base_url = "https://ai.gitee.com/v1"
api_key = ""

[dashscope]
model = ["qwen3-235b-a22b-instruct-2507", "Moonshot-Kimi-K2-Instruct", "qwen3-coder-480b-a35b-instruct", "qwen3-coder-plus", "qwen-plus"]
base_url = "https://dashscope.aliyuncs.com/compatible-mode/v1"
api_key = "sk-"

[kimi]
model = ["kimi-k2-0711-preview"]
base_url = "https://api.moonshot.cn/v1"
api_key = "sk-"

[openai]
model = ["gpt-4.1-2025-04-14", "o1-mini", "gpt-4o", "gpt-4o-mini"]
base_url = "https://openai.sevnday.top/v1"
api_key = "sk-proj-"

[yi]
model = ["yi-lightning", "yi-large-preview"]
base_url = "https://api.lingyiwanwu.com/v1"
api_key = ""

[glm]
model = ["GLM-4.1V-Thinking-FlashX", "glm-z1-flash", "glm-4-flash", "glm-4-air-250414"]
base_url = "https://open.bigmodel.cn/api/paas/v4/"
api_key = ""

[fastgpt]
model = ["qwen-1.5"]
base_url = "http://192.168.16.13/api/v1"
api_key = "fastgpt-"

[xinference]
model = ["qwen3", "deepseek-r1-0528-qwen3"]
base_url = "http://10.10.10.90:9997/v1"
api_key = "none"

[jina]
model = []
base_url = "https://api.jina.ai/v1"
api_key = "jina_"