base_url = "https://api.lingyiwanwu.com/v1"
api_key = "c2ae7f8b1d3f4b5e8c95dbfa0952bbf7"

[glm]
model = ["GLM-4.1V-Thinking-FlashX", "glm-z1-flash", "glm-4-flash", "glm-4-air-250414"]
base_url = "https://open.bigmodel.cn/api/paas/v4/"
api_key = "fc83879fbfd804b3d7e451f7ac37cf73.MfgrE5stsBGoXrJY"

[kimi]
model = ["kimi-k2-0711-preview"]
base_url = "https://api.moonshot.cn/v1"
api_key = "sk-yJIJU5nbmsaZD2TJ745RVzZmthFf2OypFJCk7zJQbFiJeyt6"

[fastgpt]
model = ["qwen-1.5"]
base_url = "http://192.168.16.13/api/v1"
api_key = "fastgpt-Ryz6CGWUJe5S3T3NKp4La8gWFmXrRWXfet4fuZFqz1BxvMGEwPanDz"

[xinference]
model = ["qwen3", "deepseek-r1-0528-qwen3"]
base_url = "http://10.10.10.90:9997/v1"
api_key = "none"

