title = "LLM Tools"
model_list = ["qwen2.5-instruct", "gpt-4o", "yi-large-turbo", "yi-medium-200k", "deepseek-chat", "deepseek-coder", "glm-4-air", "glm-4-plus", "glm-4-flash"]

[deepseek]
model = ["deepseek-chat", "deepseek-coder", "deepseek-v2.5"]
base_url = "https://api.deepseek.com"
api_key = "sk-"

[qwen]
model = ["qwen2.5-instruct"]
base_url = "http://192.168.16.7:9997/v1"
api_key = "none"

[openai]
model = ["gpt-4o"]
base_url = "https://openai.sevnday.top/v1"
api_key = "sk-proj-"

[yi]
model = ["yi-large-turbo", "yi-medium-200k"]
base_url = "https://api.lingyiwanwu.com/v1"
api_key = ""

[glm]
model = ["glm-4-air", "glm-4-plus", "glm-4-flash"]
base_url = "https://open.bigmodel.cn/api/paas/v4/"
api_key = ""

[fastgpt]
model = ["qwen-1.5"]
base_url = "http://192.168.16.13/api/v1"
api_key = "fastgpt-"

[xinference]
model = ["qwen2.5-instruct"]
base_url = "http://192.168.16.7:9997/v1"
api_key = "none"